/* Body Styles */
body {
  background-color: #efd8d4;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Custom Footer Styles for Dark Mode */
body.dark-mode .custom-footer {
  background-color: #333;
  color: #fff;
}

/* Heading Styles */
h1 {
  color: #b0a2d5;
  margin-left: 8em;
  font-weight: bold;
}

/* Mode Toggle Button Styles */
#modeToggle {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
}

/* Post Styles */
.post {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

/* Post Title Styles */
.post h2 {
  background-color: #f0f0f0;
  color: #960018;
  padding: 10px;
  margin-top: 0;
  border-bottom: 2px solid #ccc;
}

/* Post Paragraph Styles */
.post p {
  margin-top: 10px;
}

/* Dark Mode Toggle Button Styles */
.toggle-btn.dark-mode {
  color: #ffedea;
}

/* Button Hover Effect */
#modeToggle:hover {
  transform: scale(1.2);
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #efd8d4;
}

/* Custom Footer Styles */
.custom-footer {
  color: #b0a2d5;
  font-weight: bold;
}

/* Portfolio Link and Author Styles for Dark Mode */
.portfolio-link,
.author {
  color: #f9004d;
}

/* Media Query for Small Screens */
@media (max-width: 767px) {
  /* Styles for small screens */
  body {
    margin: 0;
  }

  h1 {
    margin-left: 0;
  }

  .post {
    padding: 10px;
    margin-bottom: 10px;
  }

  .post h2 {
    padding: 5px;
    font-size: 18px;
  }
}
