/* Body Styles */
body {
  background-color: #efd8d4;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

/* Container Styles */
.container {
  display: flex;
  margin-top: 6em;
}

/* Article Styles */
article {
  flex: 1;
  margin-right: 1rem;
}

/* Form Container Styles */
.form-container {
  width: 50%;
}

/* Heading Styles */
h1 {
  color: #b0a2d5;
  margin-left: 8em;
  font-weight: bold;
}

/* Subheading Styles */
h2 {
  text-align: center;
  background-color: #ffc5da;
  color: #4e7cb8;
  border-radius: 0.5rem;
  font-weight: bold;
}

/* Small Image Styles */
.small-image {
  width: 30vw;
  height: auto;
  border: 1em solid #ffc5da;
  border-radius: 0.5rem;
}

/* Label Styles */
label {
  margin-bottom: 0.25rem;
}

/* Input and Textarea Styles */
input,
textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Button Styles */
button {
  width: 100%;
  background-color: #ff4067;
  color: #ffedea;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Mode Toggle Button Styles */
#modeToggle {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
}

/* Dark Mode Toggle Button Styles */
.toggle-btn.dark-mode {
  color: #ffedea;
}

/* Button Hover Effect */
#modeToggle:hover {
  transform: scale(1.2);
}

/* Media Query for Small Screens */
@media (max-width: 767px) {
  /* Styles for small screens */
  body {
    margin: 0;
  }

  h1 {
    margin-left: 0;
  }

  .container {
    margin-top: 4em;
  }

  article {
    margin-right: 0;
  }

  .form-container {
    width: 100%;
  }

  .small-image {
    width: 100%;
    border: none;
  }

  button {
    width: 100%;
  }
}
